* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// tasksList

ul {
  margin: 25px;
}

.task-block, .edit-group{
  margin-top: 20px;
  margin-left: 5px; 
}

.hide {
  display: none;
}

.show {
  display: block;
}

.description {
  font-size: 10px;
  color: grey;
  margin: 5px;
}

input, textarea {
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
}