* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

ul {
  margin: 25px; }

.task-block, .edit-group {
  margin-top: 20px;
  margin-left: 5px; }

.app {
  margin: 0 auto;
  width: 50%; }

.task-block li {
  background-color: #f4f4f4;
  margin: 10%; }

.hide {
  display: none; }

.show {
  display: block; }

.description {
  font-size: 10px;
  color: grey;
  margin: 5px;
  word-break: break-all; }

input, textarea {
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%; }

.remove-img {
  height: 100%;
  margin: 5px;
  width: 5%;
  min-width: 15px;
  max-width: 50px;
  float: left; }
